ion-button{ 
    --z-index: 99;
    --position: absolute;
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --width: 150px;
    --height: 40px;
    --background: linear-gradient(45deg, #B388EB, #8093F1);
    --border-radius: 20px;
    --color: #FFF;
    --font-size: 20px;
    --letter-spacing: 1px;
    --font-weight: 200;
   
}